@import 'materialize-css';

footer{
   
    bottom: 0;
    right: 0;
    left: 0;
}

.background{
    background-color: rgb(44, 19, 68);
    color:cyan;
}
.scrollArea{
    height: 70rem;
    overflow: scroll;
    padding: 4rem;
}

button{
 
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 12px;
}
button:hover{
  
    box-shadow: 2px 7backgroundpx 8px #06051d98;
}
